.header  {
    positon: fixed;
    background-color: #615B5A;
}

.container {
    max-width: 940px;  
}

.nav {
    list-style-type: none;
}

.nav li {
    color: #FFF;
    /*display: inline;*/
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
}
