.header  {
    background-color: 466995;
    width: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
}

.container {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 20px 0;
}

.nav li {
    color: #FFF;
    display: inline;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
}

#name {
    text-size: 16px;
}

body {
    background-color: #FFF;
    margin: 0;
    padding: 0px;
}

p {
    position: relative;
    top: 50px;
}

h1 {
    position: relative;
    top: 50px;
}
