<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
		</head>
		<body>
			<div class="header">
				<div class="container">
				<ul class="nav">
					<li id="name">Joseph McGrath</li>
					<li>Home</li>
					<li>About</li>
					<li>Blog</li>
					<li>Resume</li>
				</ul>
				</div>
			</div>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:josepmcgrath@gmail.com">email</a></li>
	        		<li><a href="https://github.com/josepmcgrath">github.com/josepmcgrath</a></li>
				</ul>
			</footer>
		</body>
	</html>
